*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.myvedio{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    object-fit: cover;
    z-index: -1;
}

.form {
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border: 1px solid #432c72;
    border-radius: 5px;
    align-items: center;
}
.form h4 {
    font-family: poppins;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
}
.form .login {
    display: flex;
    flex-direction: column;
    width: 85%;
}
.login input, button {
    margin: 10px;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 60px;
    font-size: 16px;
}
.login input {
    background-color: #ffffff2e;
    color: #fff;
    font-family: poppins;
    letter-spacing: 1px;
    text-indent: 35px;
    background-image: url(user.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 15px;
}
.login input:nth-child(2) {
    background-image: url(lock.png);
}
.login input::placeholder {
    font-size: 14px;
    color: white;
}
.login button {
    background-color: #d38a1c;
    color: #fff;
    font-size: 17px;
    font-family: calibri;
    text-transform: uppercase;
    cursor: pointer;
}
.login button:hover{
    background-color: #9c620c;
}
.suggests {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: calibri;
    font-size: 16px;
    color: #fff;
}
.suggests .forgot {
    color: #d38a1c;
    cursor: pointer;
}